<!--* vcloud-director-ui-extension-sample-about-page
    *  SPDX-License-Identifier: BSD-2-Clause
    *  Copyright 2018 VMware, Inc. All rights reserved. VMware Confidential
    *-->

<div class="content-area">
  <h1>About ACME Hosting</h1>

  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vitae tincidunt ante. Sed nec lacus tempor, tempus est id, finibus tortor. Nunc in varius tortor. Morbi ut consequat magna, at aliquet mi. Nullam varius ex nec leo dictum, ultrices tempor neque consequat. Vestibulum faucibus lectus non nisi commodo condimentum eget non felis. Vestibulum ut lacinia justo, a consequat tellus. Nam euismod scelerisque sapien, et ultricies leo interdum id. Praesent at quam neque.
  <p>
  Suspendisse lacinia tortor sed mattis accumsan. Nulla fringilla arcu id velit ornare, non pellentesque risus efficitur. Quisque commodo lectus et purus tristique volutpat. Donec in lorem cursus, molestie nisi in, efficitur eros. Etiam non risus libero. Praesent odio urna, consectetur et bibendum et, pretium at nulla. Nunc ac faucibus erat, sed iaculis ligula. Nullam in magna quis enim imperdiet rutrum et at libero. Etiam ac magna a purus aliquet varius in ac tellus. Cras a viverra ex. Curabitur mollis vestibulum lectus vitae congue. Mauris placerat at augue et aliquam. Donec vitae turpis sagittis elit lobortis malesuada placerat vitae erat.
  <p>
  Aliquam erat volutpat. Duis in eros at enim lobortis gravida convallis quis turpis. Vivamus facilisis neque vel est vehicula, nec varius erat tristique. Etiam cursus quam orci, eu molestie risus pharetra sed. Donec in ante iaculis, pharetra purus sit amet, auctor purus. Praesent eu bibendum magna. Duis molestie egestas dui eget interdum. Maecenas libero felis, tincidunt ac nibh nec, venenatis rhoncus mauris. Cras molestie ultrices tempus.
  <p>
  Fusce euismod nisi eu erat condimentum, scelerisque tristique ante placerat. Integer urna diam, iaculis sit amet dolor vel, pharetra elementum tortor. Aenean vel nunc libero. Nunc rutrum nisi quis imperdiet volutpat. Nunc ut vestibulum ante. Duis fermentum mauris felis, vel mattis massa tincidunt non. Nullam lorem dolor, efficitur id odio vel, fermentum porttitor ex. Cras blandit mi nulla, a bibendum lacus ultricies sit amet.
  <p>

  <h2>Services Available</h2>
  <li>Shared Hosting</li>
  <li>Dedicated Hosting</li>
  <li>Managed Hosting</li>
  <li>Disaster Recovery as a Service</li>

  <h2>Contact Information</h2>
  <li>Phone: 1-800-555-0199</li>
  <li>Email: support@acmehosting.com</li>
</div>
