<?xml version="1.0"?>
<!--
 api-extension-template-vcloud-director
 Copyright 2018 VMware, Inc.
 SPDX-License-Identifier: BSD-2-Clause
-->
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://checkstyle.sourceforge.net/dtds/configuration_1_3.dtd">
<module name="Checker">
  <property name="charset" value="UTF-8"/>
  <property name="severity" value="error"/>
  <property name="fileExtensions" value="java, properties, xml, xsd"/>
  <module name="RegexpHeader">
    <property name="headerFile" value="src/main/checkstyle/java.header"/>
    <property name="fileExtensions" value="java"/>
  </module>
  <module name="RegexpHeader">
    <property name="headerFile" value="src/main/checkstyle/xml.header"/>
    <property name="fileExtensions" value="xml,xsd"/>
  </module>
</module>
