@mixin ellipsis ($max-width){
    display: inline-block;
    max-width: $max-width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

.clr-dg-action-bar {
    z-index: 1;
}

clr-dg-cell {
    &.pluginName,
    &.description {
        @include ellipsis(none);
    }
}