<?xml version="1.0"?>
<!--
 api-extension-template-vcloud-director
 Copyright 2018 VMware, Inc.
 SPDX-License-Identifier: BSD-2-Clause
-->
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.vmware.vcloud.bindings" level="debug"/>
    <logger name="com.vmware.vcloud.bindings.generator.BindingsGenerator$1" level="off"/>

    <root level="error">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>