<div class="choose-scope">
    <clr-modal [clrModalOpen]="open" [clrModalClosable]="false" [clrModalSize]="'lg'">
        <h3 class="modal-title">Change plugin scope</h3>
        <div class="modal-body">
            <!-- Alert -->
            <vcd-alert [alertMessage]="alertMessage"></vcd-alert>
            
            <vcd-loading-indicator [isLoading]="loading" [showSpinner]="loading" [fixed]="true"></vcd-loading-indicator>
            <vcd-choose-scope *ngIf="open" [(feedback)]="feedback"></vcd-choose-scope>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="onClose()">
                Close
            </button>
            <button type="button" class="btn btn-primary" (click)="changeScope()">
                Change Scope
            </button>
        </div>
    </clr-modal>
</div>