<div class="change-scope-modal">
    <clr-modal [clrModalOpen]="state" [clrModalClosable]="false" class="modal-lg">
        <h3 class="modal-title">Change Scope</h3>
        <div class="modal-body">
            <vcd-choose-scope *ngIf="state" [(feedback)]="feedback"></vcd-choose-scope>
            <vcd-change-scope-tracker *ngIf="state && feedback.forTenant"></vcd-change-scope-tracker>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="onClose()">
                Close
            </button>

            <button type="button" class="btn btn-primary" (click)="onUpdate()">
                Update
            </button>
        </div>
    </clr-modal>
</div>