@function calculateRem($size) {
    $remSize: $size / 24px;
    @return #{$remSize}rem;
  }

.modal-lg {
    .modal-dialog {
        width: calculateRem(960px);
    }
}

.modal-body {
    .loader {
        position: static;
    }
}