<ng-container *ngIf="isLoading">
    <div class="overlay vcd-plugin-management" [ngClass]="fixed ? 'fixed-position' : null"></div>
    <div *ngIf="showSpinner" class="indicator-container" [ngClass]="fixed ? 'fixed-position' : null">
        <div class="indicator-container__wrapper" [ngClass]="fixed ? 'fixed-position' : null">
            <span [ngClass]="['spinner', loadingTextKey ? 'spinner-inline' : ('spinner-' + size)]"></span>
            <span class="qa-loading-text" *ngIf="loadingTextKey">{{ loadingTextKey }}</span>
        </div>
    </div>
</ng-container>
<ng-content></ng-content>
