$colors: (
    red: #e62700,
    green: #318700
);

@function color($key) {
    @return map-get($colors, $key);
}

@mixin ellipsis ($max-width) {
    max-width: $max-width;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list-all-api-extensions {
    height: 100%;

    .datagrid-host {
        max-width: 100%;
        height: 100%;
    }
}

clr-dg-cell {
    &.api_ext_cell.href.datagrid-cell .ellipsis{
        @include ellipsis(500px);
    }

    .success {
        color: color(green);
    }

    .error {
        color: color(red);
    }
}