<div class="change-scope-tracker">
    <clr-datagrid>
        <!-- PLACEHOLDER -->
        <clr-dg-placeholder>We couldn't find any organisations...</clr-dg-placeholder>
        <!-- END PLACEHOLDER -->

        <clr-dg-column>Organisation Name</clr-dg-column>
        <clr-dg-column>Plugin Name</clr-dg-column>
        <clr-dg-column>Status</clr-dg-column>

        <clr-dg-row *clrDgItems="let req of requests" [clrDgItem]="req">
            <clr-dg-cell>{{ req.org }}</clr-dg-cell>
            <clr-dg-cell>{{ req.plugin }}</clr-dg-cell>
            <clr-dg-cell>Status</clr-dg-cell>
        </clr-dg-row>
    </clr-datagrid>
</div>