<form #form="ngForm" novalidate>
    <section class="form-block">
        <div class="relative">
            <div class="form-group">
                <label>{{ "subnav.choose-scope-component.forTenants" | translate }}</label>

                <div class="checkbox">
                    <input type="checkbox" name="enableForTenants" id="enableForTenants" [(ngModel)]="enableForTenants">
                    <label for="enableForTenants"></label>
                </div>
            </div>

            <div class="form-group">
                <label>{{ "subnav.choose-scope-component.forProvider" | translate }}</label>

                <div class="checkbox">
                    <input type="checkbox" name="enableForProviders" id="enableForProviders" [(ngModel)]="enableForProviders">
                    <label for="enableForProviders"></label>
                </div>
            </div>
        </div>
    </section>
</form>