$overlay-background-color-default: rgba(250, 250, 250, 0.5);
$overlay-background-color-modal: rgba(255, 255, 255, 0.5);

// Flexbox display
@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

// Flex Flow Direction
// - applies to: flex containers
// row | row-reverse | column | column-reverse
@mixin flex-direction($direction) {
    -webkit-flex-direction: $direction;
    -moz-flex-direction: $direction;
    -ms-flex-direction: $direction;
    flex-direction: $direction;
}

// Axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | space-between | space-around
@mixin justify-content($justify) {
    -webkit-justify-content: $justify;
    -moz-justify-content: $justify;
    -ms-justify-content: $justify;
    justify-content: $justify;
    -ms-flex-pack: $justify;
}

// Cross-axis Alignment
// - applies to: flex containers
// flex-start | flex-end | center | baseline | stretch
@mixin align-items($align) {
    -webkit-align-items: $align;
    -moz-align-items: $align;
    -ms-align-items: $align;
    align-items: $align;
}

@mixin full-height {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

:host {
    background: transparent;
    display: block;
    position: relative;
    min-width: 100%;
}

:host-context(.modal-body) .overlay {
    background-color: $overlay-background-color-modal;
}

.overlay {
    background-color: $overlay-background-color-default;
    @include full-height();
    z-index: 10;
}

.indicator-container {
    z-index: 10;
    @include full-height();
    @include flexbox();
    @include flex-direction(row);
    @include justify-content(center);
    @include align-items(center);
}

.indicator-container__wrapper {
    position: absolute;
}

.fixed-position {
    position: fixed;
}
