<div class="change-org-scope-modal" *ngIf="state">
    <clr-modal [clrModalOpen]="state" [clrModalClosable]="false" [clrModalSize]="'lg'">
        <h3 class="modal-title">{{ action | capitalizeFirst }}</h3>
        <div class="modal-body">
            <!-- Alert -->
            <vcd-alert [alertMessage]="alertMessage" [alertClasses]="alertClasses"></vcd-alert>

            <vcd-choose-org-scope
                [(feedback)]="feedback"
                [listOfOrgsPerPlugin]="listOfOrgsPerPlugin"
                [option]="action + 'ed'">
            </vcd-choose-org-scope>
            <vcd-change-org-scope-tracker [(open)]="showTracker"></vcd-change-org-scope-tracker>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="onClose()">
                Close
            </button>

            <button type="button" class="btn btn-primary" (click)="onUpdate()">
                Update
            </button>
        </div>
    </clr-modal>
</div>