<div class="change-org-scope-tracker" *ngIf="open">
    <clr-modal [clrModalOpen]="open" [clrModalClosable]="false" [clrModalSize]="'lg'">
        <h3 class="modal-title">{{ "subnav.change-ort-scope-tracker.modal.title" | translate }}</h3>
        <div class="modal-body">
            <clr-datagrid>
                <!-- PLACEHOLDER -->
                <clr-dg-placeholder>{{ "subnav.change-ort-scope-tracker.org.notFoundMessage" | translate }}</clr-dg-placeholder>
                <!-- END PLACEHOLDER -->

                <clr-dg-column>{{ "subnav.change-ort-scope-tracker.datagrid.column.pluginName" | translate }}</clr-dg-column>
                <clr-dg-column>{{ "subnav.change-ort-scope-tracker.datagrid.column.action" | translate }}</clr-dg-column>
                <clr-dg-column>{{ "subnav.change-ort-scope-tracker.datagrid.column.status" | translate }}</clr-dg-column>

                <clr-dg-row *clrDgItems="let req of requests" [clrDgItem]="req">
                    <clr-dg-cell>{{ req.pluginName }}</clr-dg-cell>
                    <clr-dg-cell>{{ req.action }}</clr-dg-cell>
                    <clr-dg-cell>
                        <clr-icon *ngIf="req.status === true" shape="check"></clr-icon>
                        <span *ngIf="req.status === null" class="spinner spinner-inline"></span>
                        <clr-icon *ngIf="req.status === false" shape="exclamation-triangle"></clr-icon>
                    </clr-dg-cell>
                </clr-dg-row>
            </clr-datagrid>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="onClose()">
                {{ "subnav.change-ort-scope-tracker.modal.footer.close.btn" | translate }}
            </button>
        </div>
    </clr-modal>
</div>