$overlay-background-color-modal: rgba(255, 255, 255, 0.5);

@mixin centering() {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.remove-margin {
    margin: 0;
}

.manifest {
    .spinner-container {
        background-color: $overlay-background-color-modal;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 10;

        .spinner {
            @include centering();
            position: absolute;
            top: 50%;
            left: 50%;
        }
    }
}

.modal .stack-view {
    height: auto;
}