<div class="upload">
    <!-- Wizard -->
    <clr-wizard #wizardlg [(clrWizardOpen)]="open" (clrWizardOnCancel)="onCancel()"
        clrWizardSize="lg">
        <vcd-loading-indicator [isLoading]="loading" [showSpinner]="loading" [fixed]="true" loadingTextKey="Uploading..."></vcd-loading-indicator>

        <clr-wizard-title>Upload plugin</clr-wizard-title>

        <clr-wizard-page (clrWizardPageCustomButton)="doCustomClick($event)">
            <ng-template clrPageTitle>Upload plugin</ng-template>

            <ng-template clrPageButtons>
                <clr-wizard-button [type]="'custom-cancel'">Cancel</clr-wizard-button>
                <clr-wizard-button *ngIf="canGoNext" [type]="'custom-next'">Next</clr-wizard-button>
            </ng-template>

            <!-- Form -->
            <vcd-upload-zip-field *ngIf="open" (change)="onFileSelection($event)"></vcd-upload-zip-field>

            <!-- Alert -->
            <vcd-alert [alertMessage]="alertMessage"></vcd-alert>

            <!-- Manifest -->
            <vcd-manifest-stack-view [parsing]="parsing" [uploadPayload]="uploadPayload"></vcd-manifest-stack-view>
        </clr-wizard-page>

        <clr-wizard-page (clrWizardPageCustomButton)="doCustomClick($event)">
            <ng-template clrPageTitle>Select scope</ng-template>

            <ng-template clrPageButtons>
                <clr-wizard-button [type]="'custom-cancel'">Cancel</clr-wizard-button>
                <clr-wizard-button [type]="'previous'">Back</clr-wizard-button>
                <clr-wizard-button [type]="'custom-finish'">Finish</clr-wizard-button>
            </ng-template>

            <vcd-choose-scope [(feedback)]="scopeFeedback" [listOfOrgsPerPlugin]="listOfOrgsPerPlugin" [canUnpublish]="false"></vcd-choose-scope>
        </clr-wizard-page>
    </clr-wizard>
</div>