<vcd-loading-indicator [isLoading]="isLoading" [showSpinner]="isLoading" [fixed]="true"></vcd-loading-indicator>

<div class="list-all-plugins">
    <h1>{{ "subnav.status.heading" | translate }}</h1>
    <clr-datagrid [(clrDgSelected)]="selected">
        <clr-dg-action-bar class="clr-dg-action-bar">
            <div class="btn-group last">
                <button type="button" class="btn btn-sm btn-outline" (click)="onRefresh()">
                    <clr-icon shape="refresh"></clr-icon>
                </button>

                <button type="button" class="btn btn-sm btn-outline" (click)="onUpload()">
                    <clr-icon shape="upload-cloud"></clr-icon>
                    {{ "subnav.status.datagrid.upload.btn" | translate }}
                </button>
            </div>

            <div class="btn-group" *ngIf="selected.length > 0">
                <button *ngIf="canDisable" type="button" class="btn btn-sm btn-link" (click)="onDisable()">{{ "subnav.status.datagrid.disable.btn" | translate }}</button>
                <button *ngIf="canEnable" type="button" class="btn btn-sm btn-link" (click)="onEnable()">{{ "subnav.status.datagrid.enable.btn" | translate }}</button>
                <button type="button" class="btn btn-sm btn-link" (click)="onDelete()">{{ "subnav.status.datagrid.delete.btn" | translate }}</button>

                <clr-dropdown>
                    <button type="button" class="btn btn-sm btn-link" clrDropdownTrigger>
                        {{ "subnav.status.datagrid.dropdown.btn" | translate }}
                        <clr-icon shape="caret down"></clr-icon>
                    </button>
                    <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
                        <button clrDropdownItem type="button" (click)="openChangeOrgScope()">{{ "subnav.status.datagrid.dropdown.publish.btn" | translate }}</button>
                        <div class="dropdown-divider"></div>
                        <button clrDropdownItem type="button" (click)="changeScope()">{{ "subnav.status.datagrid.dropdown.changeScope.btn" | translate }}</button>
                    </clr-dropdown-menu>
                </clr-dropdown>
            </div>
        </clr-dg-action-bar>

        <!-- PLACEHOLDER -->
        <clr-dg-placeholder>{{ "subnav.status.datagrid.notFoundMessage" | translate }}</clr-dg-placeholder>
        <!-- END PLACEHOLDER -->

        <clr-dg-column>{{ "subnav.status.datagrid.column.name" | translate }}</clr-dg-column>
        <clr-dg-column>{{ "subnav.status.datagrid.column.vendor" | translate }}</clr-dg-column>
        <clr-dg-column>{{ "subnav.status.datagrid.column.version" | translate }}</clr-dg-column>
        <clr-dg-column>{{ "subnav.status.datagrid.column.desc" | translate }}</clr-dg-column>
        <clr-dg-column>{{ "subnav.status.datagrid.column.tenant_scoped" | translate }}</clr-dg-column>
        <clr-dg-column>{{ "subnav.status.datagrid.column.provider_scoped" | translate }}</clr-dg-column>
        <clr-dg-column>{{ "subnav.status.datagrid.column.enabled" | translate }}</clr-dg-column>

        <clr-dg-row *clrDgItems="let plugin of plugins" [clrDgItem]="plugin">
            <clr-dg-cell class="pluginName">{{ plugin.pluginName }}</clr-dg-cell>
            <clr-dg-cell>{{ plugin.vendor }}</clr-dg-cell>
            <clr-dg-cell>{{ plugin.version }}</clr-dg-cell>
            <clr-dg-cell class="description">{{ plugin.description }}</clr-dg-cell>
            <clr-dg-cell>{{ plugin.tenant_scoped }}</clr-dg-cell>
            <clr-dg-cell>{{ plugin.provider_scoped }}</clr-dg-cell>
            <clr-dg-cell>{{ plugin.enabled }}</clr-dg-cell>
        </clr-dg-row>
    </clr-datagrid>
</div>

<div class="plugins-modal">
    <clr-modal [(clrModalOpen)]="modal.opened" [clrModalClosable]="false">
        <vcd-alert [alertMessage]="alertMessage" [alertClasses]="alert-info"></vcd-alert>

        <h3 class="modal-title">{{ modal.title }}</h3>
        <div class="modal-body">
            <p *ngIf="modal.body">{{ modal.body }}</p>
        </div>
        <div class="modal-footer">
            <button *ngIf="modal.decline" type="button" class="btn btn-primary" (click)="emitAndClose(false)">
                {{ modal.decline }}
            </button>
            <button *ngIf="modal.accept" type="button" class="btn btn-primary" (click)="emitAndClose(true)">
                {{ modal.accept }}
            </button>
        </div>
    </clr-modal>
</div>

<!-- Change tenant scope -->
<vcd-change-tenant-scope [(state)]="changeScopeState"></vcd-change-tenant-scope>
<!-- Upload new plugin -->
<vcd-plugin-upload [(open)]="wantToUpload"></vcd-plugin-upload>
<!-- Change scope -->
<vcd-change-scope [(open)]="openChangeScope"></vcd-change-scope>
<!--  Show error messages -->
<vcd-error-notifyer [(opened)]="openErrorNotifyer">
    <p>{{ errorMessage }}</p>
</vcd-error-notifyer>