<div class="choose-scope">
    <form #form="ngForm" novalidate>
        <section class="form-block">
            <div class="form-group">
                <label>Publish the plugins for all tenants.</label>

                <div class="toggle-switch">
                    <input
                        type="checkbox"
                        name="forAllTenants"
                        id="forAllTenants"
                        [(ngModel)]="feedback.forAllTenants"
                        (change)="onChange()"
                        [attr.disabled]="feedback.forTenant ? 'disabled' : null">
                    <label for="forAllTenants"></label>
                </div>
            </div>

            <div class="form-group">
                <label>Publish the plugins for tenants.</label>

                <div class="toggle-switch">
                    <input
                        type="checkbox"
                        name="forTenant"
                        id="forTenant"
                        [(ngModel)]="feedback.forTenant"
                        (change)="onChange()"
                        [attr.disabled]="feedback.forAllTenants ? 'disabled' : null">
                    <label for="forTenant"></label>
                </div>
            </div>
        </section>
    </form>

    <div class="orgs" *ngIf="feedback.forTenant">
        <clr-datagrid [(clrDgSelected)]="feedback.orgs" [clDgRowSelection]="true">
            <!-- PLACEHOLDER -->
            <clr-dg-placeholder>We couldn't find any organisations...</clr-dg-placeholder>
            <!-- END PLACEHOLDER -->

            <clr-dg-column>Organisation Name</clr-dg-column>

            <clr-dg-row *clrDgItems="let org of orgs" [clrDgItem]="org">
                <clr-dg-cell>{{ org.name }}</clr-dg-cell>
            </clr-dg-row>
        </clr-datagrid>
    </div>
</div>