<div class="choose-scope">
    <form #form="ngForm" novalidate>
        <section class="form-block">
            <div class="form-group">
                <label>Publish the plugins for all tenants.</label>

                <div class="toggle-switch">
                    <input type="checkbox" name="forAllTenants" id="forAllTenants" [(ngModel)]="feedback.forAllTenants" (change)="onChange()">
                    <label for="forAllTenants"></label>
                </div>
            </div>

            <div class="form-group">
                <label>Publish the plugins for tenants.</label>

                <div class="toggle-switch">
                    <input type="checkbox" name="forTenant" id="forTenant" [(ngModel)]="feedback.forTenant" (change)="onChange()">
                    <label for="forTenant"></label>
                </div>
            </div>
        </section>
    </form>
</div>