::ng-deep {
    .inputfile {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;

        & + label {
            margin-top: 0 !important;
            margin-right: 10px !important;
            margin-bottom: 0 !important;
            margin-left: 0 !important;
            cursor: pointer;

            * {
                pointer-events: none;
            }
        }
    }

    .form {
        max-width: 550px;
    }
}