/*
 * Copyright (c) ${year} VMware, Inc. All rights reserved.
 */
#foreach(${import} in ${class.imports})
import {${import.definition}} from "${import.module}";
#end

export#if(${class.isAbstract}) abstract#end class ${class.name} #if(${class.parent})extends ${class.parent} #end{
#foreach(${field} in ${class.fields})
    public ${field.name}#if(!${field.required})?#end: ${field.type};
#end
}

export namespace ${class.name} {
    export class Fields #if(${class.parent})extends ${class.parent}.Fields #end{
#foreach(${field} in ${class.fields})
        public static readonly $field.name.replaceAll("(.)(\p{Upper})", "$1_$2").toUpperCase(): string = "${field.name}";
#end
    }
}