<!--* vcloud-director-ui-extension-sample-ticketing-phase2
    *  SPDX-License-Identifier: BSD-2-Clause
    *  Copyright 2018 VMware, Inc. All rights reserved. VMware Confidential
    *-->
<div class="content-area">
  <h2 class="dashboard-header">{{'tickcomp.ticketing'|translate}}</h2>
  <div>
    <clr-datagrid [(clrDgSingleSelected)]="selectedTicket">
      <clr-dg-column [clrDgField]="'ticket_id'">{{'tickcomp.ticket_id'|translate}}</clr-dg-column>
      <clr-dg-column [clrDgField]="'ticket_msg'">{{'tickcomp.description'|translate}}</clr-dg-column>
      <clr-dg-column [clrDgField]="'status'">{{'tickcomp.status'|translate}}</clr-dg-column>

      <clr-dg-row *clrDgItems="let ticket of tickets" [clrDgItem]="ticket">
        <clr-dg-cell>{{ticket.ticket_id}}</clr-dg-cell>
        <clr-dg-cell>{{ticket.ticket_msg}}</clr-dg-cell>
        <clr-dg-cell>{{ticket.status}}</clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} {{'tickcomp.pagination.of'|translate}} {{pagination.totalItems}} {{'tickcomp.pagination.tickets'|translate}}
        <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
  </div>
</div>
