@mixin tos-padding {
    padding-left: 10px;
    padding-right: 10px;
}

.tos-title {
    @include tos-padding;
    color: #0000ff;
    font-style: italic;
    
}

.tos-text {
    @include tos-padding;
    color: #0000ff;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}