<div class="choose-org-scope">
    <form #form="ngForm" novalidate>
        <section class="form-block">
            <div *ngIf="showDontPublish">
                <div class="radio">
                    <input
                        [(ngModel)]="scope"
                        type="radio"
                        name="option"
                        id="unpublishForAllTenants"
                        value="unpublishForAllTenants">
                    <label for="unpublishForAllTenants">Don't publish</label>
                </div>

                <div class="description">
                    <p>
                        Note: If you select this option the plugin will be unpublished for all existing and newly created tenants.
                    </p>
                </div>
            </div>

            <div>
                <div class="radio">
                    <input
                        [(ngModel)]="scope"
                        type="radio"
                        name="option"
                        id="publishForAllTenants"
                        value="publishForAllTenants">
                    <label for="publishForAllTenants">Publish for all tenants</label>
                </div>

                <div class="description">
                    <p>
                        Note: If you select this option the plugin will be published for all existing and newly created tenants.
                    </p>
                </div>
            </div>

            <div *ngIf="listOfOrgsPerPlugin">
                <div class="radio">
                    <input
                        [(ngModel)]="scope"
                        type="radio"
                        name="option"
                        id="forSpecificTenants"
                        value="forSpecificTenants">
                    <label for="forSpecificTenants">Publish for specific tenants</label>
                </div>

                <div class="relative list">
                    <div class="overlay" *ngIf="scope !== 'forSpecificTenants'"></div>
                    <clr-datagrid (clrDgSelectedChange)="setFeedbackData($event)" [clrDgSelected]="feedback.data">
                        <!-- PLACEHOLDER -->
                        <clr-dg-placeholder>We couldn't find any tenants...</clr-dg-placeholder>
                        <!-- END PLACEHOLDER -->

                        <clr-dg-column>Tenant Name</clr-dg-column>
                        <clr-dg-column>Plugin Name</clr-dg-column>

                        <clr-dg-row *clrDgItems="let item of listOfOrgsPerPlugin" [clrDgItem]="item">
                            <clr-dg-cell>{{ item.orgName }}</clr-dg-cell>
                            <clr-dg-cell>{{ item.plugin.pluginName }}</clr-dg-cell>
                        </clr-dg-row>
                    </clr-datagrid>
                </div>
            </div>
        </section>
    </form>
</div>