/**
 * Custom doc pages styling
 */

body p {
    margin-top: 0.55rem;
}

.main-container {
    height: auto !important;
    overflow: hidden;
    display: flex;
    min-height: 100vh;
}

.main-container > * {
    flex: 1;
}

.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    width: 100%;
    max-width: 1200px;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2 !important;
    color: #565656 !important;
}

h1 {
    font-size: 35px !important;
    margin-bottom: 15px;
}

h2 {
    font-size: 26px !important;
    margin-top: 2.5rem;
}

h3 {
    font-size: 23px !important;
}

p {
    color: #565656 !important;
    font-size: 15px !important;
}

/**
 * Images
 */
p img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: 10px;
}

.clr-row > div {
    position: relative;
    z-index: 10;
}

.home-page {
    /** compensate the content-area forced by the layout **/
    margin: -1.2rem !important;
}

.home-page-header {
    background: linear-gradient(180deg, #0079B8 0%, #0079B8 107.18%);
    padding-top: 90px;
    padding-bottom: 90px;
    position: relative;
    overflow: hidden;
}

.header-divider {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65px;
    background-image: linear-gradient(to left top, #fff 0%, #fff 50%, transparent 50%);
    z-index: 10;
}

.home-page-header h1,
.home-page-header h2,
.home-page-header h3,
.home-page-header h4,
.home-page-header h5,
.home-page-header p {
    color: #fff !important;
}

.home-page-header h1 {
    font-weight: bold;
    font-size: 48px !important;
}

.home-page-header .btn,
.home-page-header .btn:hover {
    margin-top: 20px;
    opacity: 0.9;
    background: #fff;
    color: #0079B8 !important;
    transition: background 0.25s;
}

.home-page-header .btn:hover {
    opacity: 1;
}

.clouds-icon {
    position: absolute;
    right: -120px;
    top: -100px;
}

.home-story-section {
    padding-bottom: 100px;
    padding-top: 50px
}

.icon-wrapper {
    position: relative;
    z-index: 1 !important;
}

.robot-server-icon {
    position: absolute;
    bottom: -90px;
    right: 40px;
}

.road-icon {
    margin-top: 70px;
    position: absolute;
    bottom: -140px;
    right: -400px;
}

.first-section {
    background: #fff;
}

.second-section {
    background: #F6FCFE;
}

.fourth-section {
}

.fifth-section {
    background: #fff;
}

.block {
    padding: 20px;
    background: #F6FCFE;
    border: 1px solid #0079B8;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 20px;
}

.block h5 {
    margin: 0;
    font-weight: bold;
}

.card-block-labels {
    margin-top: 16px;
    margin-bottom: 24px;
}

.card-block-img {
    background: rgba(196, 196, 196, 0.1);
    width: 100%;
    border: none;
}

.browse-cases-btn-wrapper {
    margin-top: 30px;
}

.footer {
    background: #324F61;
    padding: .9rem 1.2rem;
    color: #fff;
    font-size: 12px;
    height: 85px;
    flex: 0;
}

.footer a {
    color: #49aeda;
}

.footer a:visited {
    color: #49aeda;
}

.content-second-level-nav {
    margin-left: 20% !important;
    margin-top: 20px !important;
    font-size: 14px !important;
    border-left: solid 4px #ddd;
    list-style: none;
    margin-right: 20px !important;
}

.content-second-level-nav a {
    color: #565656 !important;
    display: block;
}

/* first level */
.content-second-level-nav > li a {
    padding: 3px 10px !important;
}

/* second level */
.content-second-level-nav > li > ul > li a {
    padding: 3px 40px !important;;
}

/* third level */
.content-second-level-nav > li > ul > li > ul > li a {
    padding: 3px 70px !important;;
}

.content-second-level-nav a:hover {
    text-decoration: none;
}

.content-second-level-nav ul {
    list-style: none;
    margin-left: 0 !important;
}

.content-second-level-nav li.active {
    background: #EEEEEE;
    position: relative;
}

.content-second-level-nav li.active::after {
    content: "";
    position: absolute;
    background: #0079B8;
    width: 4px;
    left: -4px;
    bottom: 0;
    top: 0;
}

/**
    Custom block
 */

.custom-code-block {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;

    background: #fff;
    border-color: #ccc;
    border-color: var(--clr-color-neutral-400, #cccccc);
    border-width: .05rem;
    border-width: var(--clr-global-borderwidth, 0.05rem);
    border-style: solid;
    border-radius: .15rem;
    border-radius: var(--clr-global-borderradius, 0.15rem);

    color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
}

/**
    Tabs
 */

.tablist-tab {
    display: none;
}

.tablist-tab.active {
    display: block;
}

.tablist-tab .highlight {
    margin: 0;
}

.tablist-tab .highlight pre {
    padding: 5px 10px;
    margin-top: 0;
}

/* PrismJS 1.23.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+bash+javadoclike+jsdoc+typescript */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
    color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {
    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #fff;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.token.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #9a6e3a;
    /* This background color was intended by the author of this theme. */
    background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}

.token.function,
.token.class-name {
    color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}
