<div class="choose-scope">
    <clr-modal [clrModalOpen]="open" [clrModalClosable]="false" [clrModalSize]="'lg'">
        <h3 class="modal-title">{{ "lifecycle.change-scope.modal.title" | translate }}</h3>
        <div class="modal-body">
            <!-- Alert -->
            <vcd-alert [alertMessage]="alertMessage" [alertClasses]="alertClasses"></vcd-alert>

            <vcd-loading-indicator [isLoading]="loading" [showSpinner]="loading" [fixed]="true"></vcd-loading-indicator>
            <vcd-choose-scope *ngIf="open" [(feedback)]="feedback"></vcd-choose-scope>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="onClose()">
                {{ "lifecycle.change-scope.modal.footer.close.btn" | translate }}
            </button>
            <button type="button" class="btn btn-primary" (click)="changeScope()">
                {{ "lifecycle.change-scope.modal.footer.changeScope.btn" | translate }}
            </button>
        </div>
    </clr-modal>
</div>