# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
name: "Development Workflow"
on:
  push:
  pull_request:
    branches:
      - main
  release:
    types: [released]

defaults:
  run:
    working-directory: "./"
jobs:
  dependencies:
    runs-on: ubuntu-latest
    name: Download dependencies
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            **/node_modules
          key: ${{github.sha}}-dependencies
      - run: |
          npm ci
          npm run bootstrap
  lint:
    runs-on: ubuntu-latest
    needs: [dependencies]
    name: Linting
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            **/node_modules
          key: ${{github.sha}}-dependencies
      - run: |
          npm run lint
  build:
    runs-on: ubuntu-latest
    needs: [dependencies, lint]
    name: Building
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - uses: actions/cache@v2
        with:
          path: |
            **/node_modules
          key: ${{github.sha}}-dependencies
      - uses: actions/cache@v2
        with:
          path: |
            **/dist
            **/lib
          key: ${{github.sha}}-artifacts
      - run: npm run build
  test:
    runs-on: ubuntu-latest
    needs: [dependencies, build]
    name: Testing
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - uses: actions/cache@v2
        with:
          path: |
            **/node_modules
          key: ${{github.sha}}-dependencies
      - uses: actions/cache@v2
        with:
          path: |
            **/dist
            **/lib
          key: ${{github.sha}}-artifacts
      - run: npm run test-ci
  publish-next:
    if: github.event_name == 'push' && github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    needs: [dependencies, test]
    name: Publish @next
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
          registry-url: https://registry.npmjs.org/
      - uses: actions/cache@v2
        with:
          path: |
            **/node_modules
          key: ${{github.sha}}-dependencies
      - uses: actions/cache@v2
        with:
          path: |
            **/dist
            **/lib
          key: ${{github.sha}}-artifacts
      - run: npm run publish -- --dist-tag next
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}

  patch-cli:
    if: ${{ github.event.action == 'released' }}
    runs-on: ubuntu-latest
    needs: [dependencies, test]
    name: Publish @latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/cache@v2
        with:
          path: |
            **/node_modules
          key: ${{github.sha}}-dependencies
      - uses: actions/cache@v2
        with:
          path: |
            **/dist
            **/lib
          key: ${{github.sha}}-artifacts
      - uses: MerthinTechnologies/edit-json-action@v1
        with:
          filename: './lib/analytics/telemetry.json'
          key: 'host'
          value: 'scapi'

  publish-release:
    if: ${{ github.event.action == 'released' }}
    runs-on: ubuntu-latest
    needs: [patch-cli]
    name: Publish @latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
          registry-url: https://registry.npmjs.org/
      - uses: actions/cache@v2
        with:
          path: |
            **/node_modules
          key: ${{github.sha}}-dependencies
      - uses: actions/cache@v2
        with:
          path: |
            **/dist
            **/lib
          key: ${{github.sha}}-artifacts
      - run: npm run publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}
